

.page-footer
    .page-section.page-section_bg_black
        .page-section__section
            .st-title.st-title_fz_16 Производственная компания &laquo;ЧЕРОН&raquo;
        .page-section__section
            .grid.grid_2el.grid_vam
                .grid__item
                    .page-footer__navs
                        .page-footer__navs-item
                            ul.nav-list
                                li.nav-list__item
                                    .nav-list-item
                                        i.nav-list-item__icon.icon-clock
                                        | с 9:00 до 18:00 <br/> в будние дни по Московскому времени
                                li.nav-list__item
                                    a(href='skype:cheronmebel').nav-list-item
                                        .nav-list-item__icon
                                            i.icon-skype
                                        .nav-list-item__content cheronmebel
                                li.nav-list__item
                                    a(href='mailto:info@cheron-mebel.ru').nav-list-item
                                        .nav-list-item__icon
                                            i.icon-mail
                                        .nav-list-item__content info@cheron-mebel.ru
                        .page-footer__navs-item
                            ul.nav-list
                                li.nav-list__item
                                    a(href='#').nav-list-item.nav-list-item_color_yellow
                                        .nav-list-item__icon
                                            i.icon-group
                                        .nav-list-item__content Отзывы
                                li.nav-list__item
                                    a(href='skype:cheronmebel').nav-list-item.nav-list-item_color_yellow
                                        .nav-list-item__icon
                                            i.icon-youtube-play
                                        .nav-list-item__content Видео инструкции
                                li.nav-list__item
                                    a(href='mailto:info@cheron-mebel.ru').nav-list-item.nav-list-item_color_yellow
                                        .nav-list-item__icon
                                            i.icon-info-circled
                                        .nav-list-item__content Где купить
                .grid__item
                    .page-footer__soc
                        nav.soc-list
                            a(href='#').soc-list__link
                                .icon-odnoklassniki
                            a(href='#').soc-list__link
                                .icon-instagram
                            a(href='#').soc-list__link
                                .icon-vkontakte





    .page-footer__bottom-section
        .page-footer__copy &copy; 2000-2018 ЧЕРОН
        a(href='#').st-link.st-link_tdn Создание сайта




.page__menu.js-page-menu.st--bg--gradient
    .page__menu-close
        button.btn-close.js-page-menu-close

    ul.main-nav
        li.main-nav__item.main-nav-item
            a(href='company.html').main-nav-item__link
                span.main-nav-item__link-text О компании
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                span.main-nav-item__link-text Партнерам и оптовикам
        li.main-nav__item.main-nav-item
            a(href='contacts.html').main-nav-item__link
                span.main-nav-item__link-text Контакты
        li.main-nav__item.main-nav-item
            a(href='promo.html').main-nav-item__link
                span.main-nav-item__link-text Промо
        li.main-nav__item.main-nav-item
            a(href='basket.html').main-nav-item__link
                span.main-nav-item__link-text Корзина

        li.main-nav__item.main-nav-item
            a(href='index.html').main-nav-item__link
                span.main-nav-item__link-text Главная
        li.main-nav__item.main-nav-item
            button.main-nav-item__toggle.js-toggle-dropmenu
            a(href='#').main-nav-item__link
                span.main-nav-item__link-text Продукция Черон
            .main-nav-item__dropmenu
                .main-nav-dropmenu
                    a(href='#').main-nav-dropmenu__header-item Кондукторы и шаблоны
                    a(href='#').main-nav-dropmenu__header-item Для мебельного производства
                    a(href='#').main-nav-dropmenu__header-item Оборудование Черон
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                span.main-nav-item__link-text Доставка и оплата
        li.main-nav__item.main-nav-item
            a(href='shares.html').main-nav-item__link
                span.main-nav-item__link-text Акции
        li.main-nav__item.main-nav-item
            a(href='reviews.html').main-nav-item__link
                span.main-nav-item__link-text Отзывы о продукции
        li.main-nav__item.main-nav-item
            a(href='videos.html').main-nav-item__link
                span.main-nav-item__link-text Видео инструкции
        li.main-nav__item.main-nav-item
            a(href='shops.html').main-nav-item__link
                span.main-nav-item__link-text Адреса магазинов




.page__overlay.js-popups-overlay.js-close-popups.js-page-menu-close
.page__popups.popups.js-popups
    .popups__popup(data-popup-name='city')
        .popup
            .popup__close
                button.btn-close.btn-close_circle.js-close-popups
            .popup__header
                .st-title Укажите регион доставки
            .popup__content
                .st-form
                    .st-form__line
                        input(type='text' placeholder='Введите название населенного пункта' required).input
                    .st-form__line
                        b Популярные города
                    .st-form__line
                        ul.nav-list.nav-list_cities
                            li.nav-list__item
                                a(href='#').st-link Москва
                            li.nav-list__item
                                a(href='#').st-link Санкт-Петербург
                            li.nav-list__item
                                a(href='#').st-link Нижний Новгород
                            li.nav-list__item
                                a(href='#').st-link Хабаровск
                            li.nav-list__item
                                a(href='#').st-link Ростов-на-Дону
                            li.nav-list__item
                                a(href='#').st-link Набережные Челны
            .popup__footer
                button.st-button Запомнить выбор


    .popups__popup(data-popup-name='city2')
        .popup
            .popup__close
                button.btn-close.btn-close_circle.js-close-popups
            .popup__header.popup__header_border
                .popup__title
                    .st-title Выберите город
                p Не нашли своего города - оформите заказ через интернет магазин
            .popup__content
                .st-form
                    .st-form__line
                        ul.nav-list.nav-list_cities
                            li.nav-list__item
                                b А
                            li.nav-list__item
                                a(href='#').st-link Москва
                            li.nav-list__item
                                a(href='#').st-link Санкт-Петербург
                            li.nav-list__item
                                a(href='#').st-link Нижний Новгород
                            li.nav-list__item
                                a(href='#').st-link Хабаровск
                            li.nav-list__item
                                b Б
                            li.nav-list__item
                                a(href='#').st-link Ростов-на-Дону
                            li.nav-list__item
                                a(href='#').st-link Набережные Челны
                            li.nav-list__item
                                a(href='#').st-link Москва
                            li.nav-list__item
                                a(href='#').st-link Санкт-Петербург
                            li.nav-list__item
                                b С
                            li.nav-list__item
                                a(href='#').st-link Нижний Новгород
                            li.nav-list__item
                                a(href='#').st-link Хабаровск
                            li.nav-list__item
                                a(href='#').st-link Ростов-на-Дону
                            li.nav-list__item
                                a(href='#').st-link Набережные Челны


    .popups__popup(data-popup-name='video')
        .popup.popup_video
            .popup__close
                button.btn-close.btn-close_circle.js-close-popups
            .proportional-box.proportional-box_video
                .proportional-box__content
                    iframe(frameborder="0" allowfullscreen).proportional-box__video.js-popup-video


    .popups__popup(data-popup-name='product')
        .popup.popup_w_580
            .popup__close
                button.btn-close.btn-close_circle.js-close-popups
            .popup__header
                .st-title Товар добавлен в корзину
            .popup__content
                .products-list-item.products-list-item_single
                    img(src='./images/products/product1.jpg').products-list-item__image
                    .products-list-item__text Мебельный кондуктор "угольник" шаг 25/50 диаметр втулки 7мм. Можно ставить шканты
                .popup-total-price
                    .popup-total-price__text 1 шт.
                    .popup-total-price__value 1 430 руб

            .popup__footer
                span.st-link.st-link_tdn.js-close-popups Продолжить покупки
                button.st-button Оформить заказ


    .popups__popup(data-popup-name='calc')
        .popup.popup_w_580
            .popup__close
                button.btn-close.btn-close_circle.js-close-popups
            .popup__header.popup__header_border
                .st-title Заявка на расчет стоимость
            .popup__content
                form.st-form
                    .st-form__line
                        input(type='text' placeholder='Ваше имя *' required).input

                    .st-form__line
                        input(type='text' placeholder='Телефон *' required).input

                    .st-form__line
                        textarea(placeholder='Комментраий' required).textarea.textarea_h_80

                    .st-form__line.st-form__line_bg_gray.st-form__line_p_20
                        label.st-label
                            input(type='checkbox').st-label__input
                            span.st-checkbox.st-label__checkbox
                                i.st-checkbox__icon.icon-ok
                            | Я согласен на обработку персональных данных

                    .st-form__line.tac
                        button.st-button.st-button_large.st-button_shadow_off Расчет стоимости
